# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
env*/
.venv/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Docker
*.log
*.pid
docker-compose.override.yml

# Jupyter Notebooks
.ipynb_checkpoints/

# Test & coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Misc
*.swp
*.bak
*.tmp

# Postman
*.postman_collection.json
